@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary-1: #FFF5E4;
    --color-primary-2: #F2C369;
    --color-primary-3: #FFD700;
    --color-primary-4: #B84226;
    --color-primary-5: #8B5E3C;

    --color-neutral-0: #FFFFFF;
    --color-neutral-1: #1A1A1A;
}