@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary-1: #FFF5E4;
    --color-primary-2: #F2C369;
    --color-primary-3: #FFD700;
    --color-primary-4: #B84226;
    --color-primary-5: #8B5E3C;

    --color-neutral-0: #FFFFFF;
    --color-neutral-1: #1A1A1A;
}

/*Reset do CSS padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-primary-1);
}

section {
    padding: 28px 8%;
}

/* Header */
header {
    width: 100%;
    padding: 28px 8%;
    position: sticky; /* Define a barra de navegação como fixa no topo da página */
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: var(--color-primary-5);
}

#nav_list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: #1D1D1DAD;
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-4);
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: var(--color-primary-2);
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: var(--color-primary-3);
    color: var(--color-primary-5);
}
/* Home */
#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 91px);
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: var(--color-neutral-1);
}

#cta .title span {
    color: var(--color-primary-4);
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-1);
}

#cta_buttons .btn {
    text-decoration: none;
    color: var(--color-primary-2);
}

#cta_buttons .btn:hover {
    background-color: var(--color-primary-3);
    color: var(--color-neutral-1);
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--color-neutral-0);
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

}

#phone_button button {
    box-shadow: none
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-1);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px var(--color-primary-4);
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner img {
    height: auto;
    width: 600px;
    border-radius: 30px;
}

/* Menu */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.section-title {
    color: var(--color-primary-4);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-neutral-0);
    width: 25%;
    padding: 20px;
    border-radius: 20px;
    gap: 18px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.dish-heart {
    position: absolute;
    background-color: var(--color-primary-4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--color-neutral-0);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish-image {
    width: 100%;
    border-radius: 20px;
}

.dish-tittle {
    color: var(--color-primary-4);
}

.dish-description {
    color: var(--color-neutral-1);
    text-align: center;
}

.dish-rate i {
    color: var(--color-primary-4);
}

.dish-price {
    display: flex;
    align-items: center;
    gap: 20px;
}